html {
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: inherit;
}
img {
    max-width: 100%;
    height: auto;
}
body {
    margin: 0;
}

.row {
    overflow-x:hidden;
}

.kema {
    background: url("/img/qema.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px ;
    width: 800px;
}

.kema::after {
    content:"";
    height: 1000px;
    width: 100px;
    background-color: black;
}

.pt_5 {
    padding-top:300px ;
    padding-left: 50px;
    font-weight: 700;
    font-family: Oswald, sans-serif;
    font-size: 2.25rem;
    line-height: 1.1;
}

.yol {
    background: url("/img/kattayol.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px ;
    width: 500px;
}

.pt_4 {
    padding-top:300px ;
    font-weight: 700;
    font-family: Oswald, sans-serif;
    font-size: 2.25rem;
    line-height: 1.1;
}

.qema2 {
    background: url("/img/metro.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px ;
    width: 500px;
}

.qema9 {
    background: url("/img/qema2.jpeg");
    background-repeat: no-repeat;
    width: 700px;
    background-size: cover;
    background-position: 50% 50%;
    min-height: 614px;
}

.width {
    width:400px;
}
